<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="error-container">
        <h1>Houve um erro!</h1>
        <p>Verifique o erro e tente novamente</p>
        <p>Possivéis Erros:</p>
        <p>Nome ou senha inválidos</p>
        <p>Email e Telefone ja estao em uso</p>
        <p><a href="/" id="back-link">Voltar</a></p>
    </div>
</body>
</html>